.lets_order_now{
    width: 100%;
    height: 67px;
    background-color: black;
    margin-top: 136px;
}
.Welcome_to_KFC{
height: 120px;
width: 100%;
display: grid;
grid-template-columns: 30% 70%;
}
.Welcome_to_KFC_internal_div{
    display: grid;
    grid-template-columns: 30% 70%;
}
.Welcome_to_KFC_content_div{
    display: grid;
    grid-template-rows: 35% 65%;
}
.kfc_lines_top{
    width: 40px;
    height: 20px;
    background: repeating-linear-gradient(90deg,#e4002b,#e4002b 8px,#fff 0,#fff 16px);
}
.welcome{
    font-family: "National2Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 38px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 2.71px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.General_menu_container{
    width: 80%;
    height: 723px;
    
    margin-left: 123px;
    display: flex;
    flex-direction: column;
}
.Brows_catogories_div{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 155px;
}
.Brows_catogories{
    width: 419px;
    height: 100%;
    
}
.browse{
    margin-right: 31px;
    font-family: "National2Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 43px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 61px;
    margin-bottom: 55px;
    float: right;
}
.line{
    border-top: 2px solid #e3e3e3;
    margin-top: 86px;
    flex: 1 1;
    margin-right: 9%;
}
.Menu_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
}
.menu{
    width: 223px;
    height: 213px;
    background-color: #f8f7f5;
    margin-top: 8px;
    display: grid;
    grid-template-rows: 73% 27%;
    
}
.menu_cards_img{
    width: 100%;
    height: 100%;
}
.menu-text{
    text-align: center;
    font-family: "National2Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #202124;
    bottom: 7%;
    text-decoration: none;
    padding-top: 15px;
}
.menu_link{
    text-decoration: none;
}
.menu_text_div{

    width: 100%;
    margin-top: -5px;
    height: 57px;
}
.footer{
    width: 100%;
    height: 915px;
    background-color: rgb(48, 46, 46);
}
.offer_container{

}
.kfc_lines_bottom{
    width: 93px;
    height: 67px;
    
    margin-left: 201px;
}
.offers_and_deals{
    width: 71%;
    height: 65px;
    margin-left: 199px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.offers_and_deals_right{
    display: grid;
    grid-template-columns: auto auto;
}
.offersViewAll-link{
    float: right;
    margin-top: 27px;
    font-family: "National 2 Regular";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
.offersViewAlldeals-arrow{
    margin-top: 36px;
   
}
.offersContainer-header{
    font-family: "National 2 Condensed";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}

.offers_div{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-left: 19px;
    margin-top: 35px;
    justify-content: space-evenly;
}
.offer_tiles_div{
    width: 261px;
    height: 366px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-rows: 53% 25% 25%;
    border-radius: 10px;
}
.tile_middle_div{
    display: grid;
    grid-template-rows:50% 50% ;
    background-color: white;
}
.tile_lower_div{
    display: grid;
    grid-template-columns:50% 50% ;
    background-color: white;
}
.tile1{
    height: 43px;
    font-family: "National 2 Condensed";
    font-size: 38px;
    font-weight: 700;
    line-height: 43px;
    color: #e4002b;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.chicken_text{
    height: 48px;
    font-family: "National 2 Regular";
    font-weight: 400;
    font-size: 14px;
    color: #202124;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.offersView-details{
    border: none;
    background: none;
    text-decoration: underline;
    padding: initial;
    font-family: "National2-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #494949;
    margin-top: 32px;
    margin-left: 26px;
}
.offers-redeem-button{
    font-family: "National2-Medium";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #494949!important;
    background-color: transparent;
    border: 1px solid #202124;
    color: #202124;
    border: 2.5px solid #202124;
    margin-left: 24px;
    font-weight: 700;
    border-radius: 13px;
    margin-top: 28px;
}
.tile_image{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    height: 196px;
}
.footer_menu{
    width: 85%;
    height: 185px;
    
    margin-left: 101px;
    margin-top: 97px;
    display: grid;
    grid-template-columns: repeat(8,130px);
    grid-gap: 10px;
}
.footer_end_div{
    width: 100%;
    height: 39px;
    margin-top: 51px;
    
    
}
.footer_grids{
    
    height: 100%;
}
.menu1{
    display: grid;
    grid-template-rows: repeat(5, 35px);
    margin-top: -17px;
}
.support-links-menu{
    font-weight: 400;
    font-size: 14px;
    color: #e3e3e3;
    text-decoration: none;
}
.find_a_kfc_div{
    display: flex;
    flex-direction: row;
}
.footer_middle{
    margin-left: 10px;
}
.copyright-text{
    margin: 0;
    font-family: "National 2 Regular";
    font-size: 12px;
    text-align: center;
    opacity: .9;
    line-height: 12px;
    color: #dbdbdb;
}
.column_social-div{
    margin-right: 11%;
    display: flex;
    flex-direction: row;
    float: right;
}
@font-face{
    font-family: National2Condensed ;
src: url(National2Condensed-Bold.otf);
}


